@font-face {
    font-family: 'southpark';
    src: url('./fonts/southpark.ttf');
}

.allTimeScore {
    font-size: 1rem;
    color: rgb(255, 238, 0);
}

body {
    font-family: 'southpark';
    color: white;
    background: url('./images/souptpark.jpg') no-repeat fixed;
    background-size: cover;
}

.buttons {
    margin: 10px;
    font-family: 'southpark';
}

.buttons:hover {
    cursor: pointer;
}

.disabled:hover {
    cursor: not-allowed;
}

.gameContainer {
    margin-top: 7%;
    border-radius: 8px;
    background-color: rgba( 0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100vh;
    box-shadow: 5px 5px 5px black;
}

.gameInfoGreen {
    color: rgb(14, 197, 14);
}

.guessHistory {
    list-style: none;
}

.guessNumber {
    width: 50vw;
    display: inline-block;
    font-size: 2rem;
}

#guessText {
    color: #2196F3;
    ;
}

#gameText {
    color: rgb(224, 187, 240);
}

p {
    font-size: 2rem;
    display: inline-block;
}

input {
    font-family: 'southpark';
}

.scoreTracker {
    font-size: 1em
}

.shake {
    animation: shake .75s;
}

@keyframes shake {
    from,
    to {
        transform: translate3d(0, 0, 0);
    }
    5%,
    25%,
    45%,
    65%,
    85% {
        transform: translate3d(-10px, 0, 0);
    }
    10%,
    20%,
    40%,
    60% {
        transform: translate3d(10px, 0, 0);
    }
}

.title {
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 2%;
    font-size: 3em;
    font-weight: bolder;
    text-shadow: 2px 2px white;
}

.tooHigh {
    color: rgb(255, 0, 0);
}

.tooLow {
    color: rgb(0, 162, 255);
}

.user-input {
    width: 30vw;
    margin: auto;
}


/*********************************
*         Media Queries          *
*********************************/

@media screen and (max-width: 1025px) {
    .user-input {
        width: 60vw;
    }
    .title {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 800px) {
    .title {
        font-size: 2em;
    }
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 460px) {
    .allTimeScore {
        font-size: .8rem;
    }
    .title {
        font-size: 1.25em;
    }
}

@media screen and (max-width: 320px) {
    .allTimeScore {
        font-size: .6rem;
    }
    .guessNumber,
    p {
        font-size: 1rem;
    }
    .scoreTracker {
        font-size: .75rem;
    }
    .text-center {
        font-size: 1.45rem;
    }
    .title {
        font-size: 1em;
    }
}