.guessHistory {
    list-style: none;
}
.guessNumber, p {
    font-size: 2rem;
    display: inline-block;
    
}
.shake {
    animation: shake .75s;
}
@keyframes shake {
    from, to {
        transform: translate3d(0, 0, 0);
    }

    5%, 25%, 45%, 65%, 85% {
        transform: translate3d(-10px, 0, 0);
    }

    10%, 20%, 40%, 60% {
        transform: translate3d(10px, 0, 0);
    }
}

.buttons {
    margin: 10px;
}

.buttons:hover {
    cursor: pointer;
}

.user-input {
    width: 30vw;
    margin: auto;
}
.scoreTracker {
    font-size: 1em
}
.gameContainer {
    margin-top: 10%;
}